@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form action="/visitor/createnew" method="post">
        <input type="text" name="Name" placeholder="visitor_name" />
        <input type="number" name="Preference" placeholder="visitor_preference" />
        <input type="submit" value="Create User" />
    </form>
</body>
</html>
