################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/dxStudy/dxStudyBubbleSort/bin/Debug/net5.0
/.vs
/dxStudy/.vs/dxStudy
/dxStudy/dxStudyBubbleSort/obj
/dxStudy/dxStudyDataType/obj
/dxStudy/dxStudyDataType/bin/Debug/net5.0
/dxStudy/dxStudyOpenJson/obj
/dxStudy/dxStudyOpenJson/bin/Debug/net5.0
/dxStudy/dxStudyQuickSort/obj
