################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/dxStudy/dxStudyBubbleSort/bin/Debug/net5.0
/.vs
/dxStudy/.vs/dxStudy
/dxStudy/dxStudyBubbleSort/obj
/dxStudy/dxStudyDataType/obj
/dxStudy/dxStudyDataType/bin/Debug/net5.0
/dxStudy/dxStudyOpenJson/obj
/dxStudy/dxStudyOpenJson/bin/Debug/net5.0
/dxStudy/dxStudyQuickSort/obj
/dxStudy/dxStudyQuickSort/bin/Debug/net5.0
/dxStudy/dxStudySelectSort/bin/Debug/net5.0
/dxStudy/dxStudySelectSort/obj
/dxStudy/dxStudySelectSort
/dxStudy/dxStudyConvertStringToDateTime/bin/Debug/net5.0
/dxStudy/dxStudyConvertStringToDateTime/obj
/dxStudy/dxStudyOpenXmlChangeCellStyle/obj
/dxStudy/dxStudyOpenXmlChangeCellStyle/bin/Debug/net5.0
/dxStudy/dxStudyOpenXmlReadParticularCell/obj
/dxStudy/dxStudyOpenXmlReadParticularCell/bin/Debug/net5.0
/dxStudy/dxStudyOpenXmlReadExcelTable/obj
/dxStudy/dxStudyOpenXmlReadExcelTable/bin/Debug/net5.0
/dxStudy/dxStudyOpenXmlReadExcelNameRange/obj
/dxStudy/dxStudyOpenXmlReadExcelNameRange/bin/Debug/net5.0
/dxStudy/dxStudyOpenXmlExportExcelByTemplate/obj
/dxStudy/dxStudyOpenXmlExportExcelByTemplate/bin/Debug/net5.0
/dxStudy/dxStudyOpenXmlExportExcel/obj
/dxStudy/dxStudyOpenXmlExportExcel/bin/Debug/net5.0
/dxStudy/dxStudyOpenXml/obj
/dxStudy/dxStudyZipFile/obj
/dxStudy/dxStudyOpenXml/bin/Debug/net5.0
/dxStudy/dxStudyCertification/obj
/dxStudy/dxStudyCertification/bin/Debug/net5.0
/dxStudy/dxStudyIOC/bin/Debug/net5.0
/dxStudy/dxStudyIOC/obj
/dxStudy/dxStudyIOCByAssembly/bin/Debug/net5.0
/dxStudy/dxStudyIOCByAssembly/obj
/dxStudy/dxStudyIOCByAssembly.Contract/bin/Debug/net5.0
/dxStudy/dxStudyIOCByAssembly.Contract/obj
